.about-wrapper {
  width: 50%;
  margin: 0 auto; }

.about {
  width: 100%;
  height: 600px;
  background: #161616; }
  .about h1 {
    padding: 20px 0;
    text-align: center;
    color: white; }

@media (max-width: 1100px) {
  .about {
    height: 700px; } }

@media (max-width: 850px) {
  .about {
    height: 900px; } }

@media (max-width: 690px) {
  .about {
    height: 1100px; } }

@media (max-width: 550px) {
  .about {
    height: 1300px; } }

@media (max-width: 450px) {
  .about {
    height: 1400px; } }

@media (max-width: 420px) {
  .about {
    height: 1700px; } }
