.contact-wrapper {
  margin: 0 auto;
  width: 60%; }

.contact {
  background: #161616;
  height: 800px;
  padding: 20px; }
  .contact h1 {
    color: white; }

input {
  display: block;
  margin: 20px 0; }

.mobile-details {
  display: none; }

@media (max-width: 900px) {
  .contact {
    height: 500px; }
  .desktop-details {
    display: none; }
  .mobile-details {
    display: block; } }
