/**********
General
***********/
.wrapper {
  margin: 0 auto;
  width: 80%; }

header {
  height: 80px;
  background: #762113; }

h1, h2, h3 {
  font-family: "Metrophobic", sans-serif; }

li {
  font-family: "Lato", sans-serif; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

a {
  transition: 0.3s;
  text-decoration: none !important; }
  a :hover {
    color: inherit;
    opacity: 0.4; }

/*********
Header
*********/
.logo-container {
  background: #762113;
  height: 50px;
  padding: 15px; }

header h1 {
  margin-left: 20px; }

header li {
  list-style: none;
  font-size: 20px;
  margin-left: 40px; }

.logo-anchor {
  color: #161616; }

.nav-anchor {
  color: white; }

header .wrapper {
  height: 80px;
  display: flex;
  justify-content: space-between; }

header .logo-container {
  display: flex;
  align-items: flex-start; }

header ul {
  margin-bottom: 0;
  display: flex;
  align-items: center; }

.fa-bars {
  display: none;
  padding-top: 15px;
  margin-left: 50px; }

.mobile-menu {
  background: #762113;
  height: 230px;
  text-align: center;
  transform: translateY(-230px);
  transition: 0.3s; }

.open {
  transform: translateY(0px); }

/***********
Hero
***********/
.hero {
  background: #290904;
  background-image: url("../img/mountain-view.jpg");
  height: 800px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  padding-top: 500px; }

.hero h1, p, a {
  color: white; }

.card {
  background: #13764A;
  width: 400px;
  text-align: center;
  padding: 32px;
  transition: 0.4s;
  transform: translateY(20px);
  opacity: 0;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.5); }
  .card a {
    background: #012917;
    border-radius: 25px;
    padding: 10px 30px;
    border: 1px solid white; }
  .card .wrapper {
    display: flex;
    justify-content: center; }

.card:hover {
  transform: translateY(0px);
  opacity: 1; }

footer {
  background: #290904;
  height: 100%;
  width: 100%;
  color: white;
  text-align: center; }

footer .wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0; }

footer .footer-container {
  width: 25%; }

.social-media li {
  display: inline-block; }

@media (max-width: 768px) {
  .wrapper {
    width: 40%; }
  header h1 {
    display: none; }
  .card {
    display: none; }
  footer .wrapper {
    display: inline-block; }
  footer .footer-container {
    width: 100%;
    margin-top: 10px; }
  .product-card {
    width: 100%; } }

@media (max-width: 590px) {
  .nav-anchor {
    display: none; }
  .fa-bars {
    display: block; } }

.products {
  background-color: #222;
  height: 100%; }

.product-card {
  background: #762113;
  width: 25%;
  padding: 10px;
  text-align: center;
  display: inline-block;
  margin: 20px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
  .product-card img {
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 150px; }
  .product-card h3 {
    color: white;
    margin-top: 10px; }

.product-card:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }

@media (max-width: 1200px) {
  .product-card {
    width: 100%; } }

.about-wrapper {
  width: 50%;
  margin: 0 auto; }

.about {
  width: 100%;
  height: 800px;
  background: #161616; }
  .about h1 {
    padding: 20px 0;
    text-align: center;
    color: white; }

@media (max-width: 768px) {
  .wrapper {
    width: 40%; }
  header h1 {
    display: none; }
  .card {
    display: none; }
  footer .wrapper {
    display: inline-block; }
  footer .footer-container {
    width: 100%;
    margin-top: 10px; }
  .product-card {
    width: 100%; } }

@media (max-width: 590px) {
  .nav-anchor {
    display: none; }
  .fa-bars {
    display: block; } }
