@import './variables.scss';


@media (max-width: 768px) {
    .wrapper {
        width: 40%;
    }

    header h1 {
        display: none;
    }

    .card {
        display: none;
    }

    footer .wrapper {
        display: inline-block;
    }

    footer .footer-container {
        width: 100%;
        margin-top: 10px;
    }

    .product-card {
        width: 100%;
    }
}

@media (max-width: 590px) {
    .nav-anchor {
        display: none;
    }

    .fa-bars {
        display: block;
    }
}
